
@{
                /**/

                ViewBag.Title = "ProductId";
}

<h2>ProductId</h2>




<p>Product Id = @ViewBag.Product.Id </p>
<p>Product Name = @ViewBag.Product.Name</p>
<p>Product Price = @ViewBag.Product.Price</p>
<p>Product Category = @ViewBag.Product.Category.Name</p>

@Html.ActionLink("back to list", "List")    

